{% extends "base.html" %}

{% block content %}
<div class="">
    <h1 class="mt-5">Страница просмотра и редактирования ответа</h1>
    {% for field in answer_form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="container">
        <form action="" class="form-signin" method="post">
            <div class="form-group">
                {% csrf_token %}
                <div class="h4">Настройки ответа</div>
                <hr>
                <div class="form-group">
                    <label for="{{ answer_form.text.id_for_label }}">{{ answer_form.text.label }}</label>
                    {{ answer_form.text }}
                </div>
                <div class="form-group">
                    <label for="{{ answer_form.type.id_for_label }}">{{ answer_form.type.label }}</label>
                    {{ answer_form.type }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">сохранить настройки</button>
            </div>
        </form>
        <form action="{% url 'answer_delete' survey_id=answer.question.survey.id question_id=answer.question.id answer_id=answer.id %}" method="post" class="form-signin">
            {% csrf_token %}
            <input class="btn btn-lg btn-danger" type="submit" value="Удалить ответ">
        </form>
    </div>
</div>
{% endblock %}
