{% extends "base.html" %}

{% block content %}
<div class="">
    <h1 class="mt-5">Страница создания опроса</h1>
    <div class="container">
        <form action="" class="form-signin" method="post">
            <div class="form-group">
                {% csrf_token %}
                <div class="h4">Настройки опроса</div>
                <hr>
                {% for input in form %}
                <div class="form-group">
                    {{ input.errors }}
                    <label for="{{ input.id_for_label }}">{{ input.label }}</label>
                    {{ input }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">Сохранить настройки</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
